@model App_de_gestion_de_buget_version2.Models.Category

<h2>Créer une catégorie</h2>

<form method="post">
    <div class="form-group">
        <label for="Name">Nom</label>
        <input type="text" class="form-control" id="Name" name="Name" />
    </div>

    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
