@model IEnumerable<App_de_gestion_de_buget_version2.Models.Category>

<h2>Liste des catégories</h2>

<a class="btn btn-primary" href="/Category/Create">Créer une nouvelle catégorie</a>

<table class="table mt-3">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Nom</td>

                <td>
                    <a class="btn btn-warning btn-sm" href="/Category/Edit/@c.CategoryId">Modifier</a>
                    <a class="btn btn-danger btn-sm" href="/Category/Delete/@c.CategoryId">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>
